@import 'src/mixins.scss';

.topbarDark {
  min-height: rem(64);
  padding: rem(15) rem(20);
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  background: $black;
}

.logo {
  display: block;
  padding-top: rem(15);
  padding-bottom: rem(15);
  margin-right: rem(30);
  line-height: 1;
  height: rem(64);
  white-space: nowrap;

  &__letter {
    float: left;
    display: flex;
    width: 35px;
    height: 35px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    margin-right: 0.35714rem;
    font-weight: 700;
    font-size: 1.5rem;
    color: $white;
    border: 4px solid $white;
    padding-bottom: rem(2);
  }

  &__name {
    font-weight: 900;
    color: $white;
    font-size: 21px;
    margin-left: rem(40);
  }

  &__descr {
    color: $gray-4;
    margin-left: rem(40);
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}
