@import 'src/mixins.scss';

//////////////////////////////////////////////////////////////////////////////////////////
/* CRYPTO TERMINAL */

.cryptoTerminal {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  @media (max-width: $md-max-width) {
    flex-direction: column;
  }
}

.listContainer {
  width: rem(90);
  margin-right: rem(40);
  flex-shrink: 0;

  @media (max-width: $md-max-width) {
    display: none;
  }
}

.list {
  width: rem(90);
  flex-shrink: 0;
  @media (max-width: $md-max-width) {
    display: none;
  }
}

.item {
  display: block;
  text-align: center;
  color: $black;

  &:hover,
  &.itemActive {
    color: $white;
    background-color: $primary;
  }
}

.content {
  flex-grow: 1;
  min-width: 0;

  .flex-fill {
    @media (max-width: $sm-max-width) {
      width: 50%;
    }
  }
}

.table {
  ::ng-deep .ant-table {
    border: none;
  }
}

.form-label {
  font-weight: bold;
  text-transform: uppercase;
  font-size: rem(12);
}

.form {
  margin-bottom: 1px;

  ::ng-deep .ant-form-item {
    margin-bottom: rem(5);
  }
}

// dark theme
[data-kit-theme='dark'] {
  .item {
    background: $dark-gray-4;

    &:hover,
    &.itemActive {
      color: $white;
      background-color: $primary;
    }
  }
}
