<div>
    <div class="col-lg-7">
      <div class="card">
        <div class="card-body">
          <h3 class="titulo">Productos</h3>
          <table class="table">
            <tbody>
              <tr *ngFor="let product of ProductList">
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.stock }}</td>
                <td class="text-right">
                  <a href="javascript: void(0);" class="btn btn-sm btn-light" slot="actions">
                    <i class="fe fe-edit mr-1"></i> Edit
                  </a>
                </td>
                <td class="text-right">
                  <a href="javascript: void(0);" class="btn btn-sm btn-light" slot="actions">
                    <i class="fe fe-trash mr-1"></i> Remove
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  