<div>
  <button
    type="button"
    class="btn btn-primary"
    (click)="openModal(modalData, null)"
  >
    Add
  </button>
  <div class="col-lg-7">
    <div class="card">
      <div class="card-body">
        <h3 class="titulo">Categorias</h3>
        <table class="table">
          <tbody>
            <tr *ngFor="let category of CategoryList">
              <td>{{ category.id }}</td>
              <td>{{ category.identificator }}</td>
              <td>{{ category.description }}</td>
              <td class="text-right">
                <a
                  href="javascript: void(0);"
                  class="btn btn-sm btn-light"
                  slot="actions"
                  (click)="openModal(modalData, category)"
                >
                  <i class="fe fe-edit mr-1"></i> Edit
                </a>
              </td>
              <td class="text-right">
                <a
                  href="javascript: void(0);"
                  class="btn btn-sm btn-light"
                  slot="actions"
                >
                  <i class="fe fe-trash mr-1"></i> Remove
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<!--<div
  #modalAdd
  id="modalCategory"
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add New Category</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form action="">
          <div class="form-group">
            <input
              type="text"
              id="identificator"
              name="Identificator"
              class="form-control"
              placeholder="Identificador"
            />
            <input
              type="text"
              id="description"
              name="Description"
              class="form-control"
              placeholder="Descripción"
            />
          </div>
          <button type="submit" class="btn primary float-right">Add</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Add</button>
      </div>
    </div>
  </div>
</div>-->

<!--<ng-template #modalAdd let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      Angular Bootstrap Modal Popup
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="addProfileForm" (ngSubmit)="onSubmit()">
      <input
        type="text"
        class="form-control"
        id="identificator"
        placeholder="Enter Identificator"
        formControlName="identificator"
      />

      <input
        type="text"
        class="form-control"
        id="description"
        placeholder="Enter Descripción"
        formControlName="description"
      />
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="addCategory()">
      Save
    </button>
    <button
      type="button"
      class="btn btn-danger"
      (click)="modal.close('Save click')"
    >
      Close
    </button>
  </div>
</ng-template>-->

<ng-template #modalData let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      Angular Bootstrap Modal Popup
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="closeModalApp()"
    >
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="editProfileForm" (ngSubmit)="onSubmit()">
      <label for="">Id</label>
      <input
        type="text"
        class="form-control"
        formControlName="id"
        id="id"
        disabled
      />

      <label for="">Identificador</label>
      <input
        type="text"
        class="form-control"
        formControlName="identificator"
        id="identificator"
        placeholder="Enter Identificator"
      />

      <label for="">Descripcion</label>
      <input
        type="text"
        class="form-control"
        formControlName="description"
        id="description"
        placeholder="Enter Identificator"
      />
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="onSubmit()">
      Save
    </button>
    <button type="button" class="btn btn-danger" (click)="closeModalApp()">
      Close
    </button>
  </div>
</ng-template>
