<div class="footer" [ngClass]="{footerFullWidth: !isContentMaxWidth}">
  <div class="inner">
    <div class="row">
      <div class="col-md-8">
        <p>
          <strong>Air UI Admin Template - Best Solution for Your Next Big App!</strong>
        </p>
        <p>
          Air UI is a set of modern professional Html / React / Vue and Angular based templates.
          This is a powerful and super flexible tool, which suits best for any kind of web
          application: Web Sites, Web Applications, Hybrid Apps, CRM, CMS, Admin Panels, etc.
        </p>
        <a href="https://sellpixels.com" target="_blank" rel="noopener noreferrer" class="sellpixels">
          SELLPIXELS
          <span></span>
        </a>
        <br />
        <p className="mb-0">
          Copyright © 2017-{{ currentYear }} Mdtk Soft |
          <a href="https://www.mediatec.org/privacy" target="_blank" rel="noopener noreferrer">
            Privacy Policy
          </a>
        </p>
      </div>
      <div class="col-md-4">
        <div class="logo">
          <div class="logo__letter">A</div>
          <div class="logo__name">{{logo}}</div>
          <div class="logo__descr">{{description}}</div>
        </div>
      </div>
    </div>
  </div>
</div>